body {
    background-image: linear-gradient(to top, #F4C2C2, #ffffff);
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
    overflow: hidden;
    font-family: "Indie Flower", sans-serif;
    position: relative;
}

#background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../images/emoji-background.png') no-repeat center center fixed;
    background-size: cover;
    opacity: 0.5;
    z-index: -1;
}

#vent {
    position: absolute;
    top: 20px;
    left: 25%;
    width: 50%;
    z-index: 0;
    opacity: 90%;
}

#textbox {
    width: 70%;
    padding: 10px;
    border: none;
    border-radius: 30px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
    outline: none;
    font-size: 15px;
    box-sizing: border-box;
    background: linear-gradient(to right, white, white);
    color: #333;
    font-family: "Indie Flower", sans-serif;
    font-size: 2vw;
}
.message {
    position: absolute;
    bottom: 10%;
    left: 10%;
    opacity: 1;
    transition: all 5s;
    font-family: "Indie Flower", sans-serif;
    font-size: 30px;
    z-index: 1;
    white-space: normal;
    max-width: 350px;
}
@keyframes floatAndFade {
    0% { transform: translateY(0) rotate(0); opacity: 1; }
    50% { transform: translateY(-50vh) rotate(15deg); opacity: 0.5; }
    100% { transform: translateY(-60vh) rotate(-10deg); opacity: 0; }
}